{
    "Address": "127.0.0.1",
    "Port": "5083",
    "SnowflakeWorkerID": 0,
    "MysqlUser": "user",
    "MysqlPassword": "password",
    "MysqlAddress": "127.0.0.1",
    "MysqlPort": "3306",
    "MysqlDatabase": "dbname"
}