{
    "Address": "127.0.0.1",
    "Port": "5083",
    "SnowflakeWorkerID": 0,
    "DbUser": "root",
    "DbPassword": "password",
    "DbAddress": "127.0.0.1",
    "DbPort": "3306",
    "DbDatabase": "dbname"
}